html, body {
    padding: 0;
    margin: 0;
    font-family: monospace;
    background-color: #2e3440;
    color: #d8dee9;
    box-sizing: border-box;
}

.main {
    max-width: 600px;
    margin: 0 auto;
    padding: 12px 48px;
    min-height: 100vh;
    background-color: #3b4252;
}

h1 {
    text-align: center;
    width: 100%;
}

hr {
    color: #4c566a;
}

.issue {
    margin: 12px 0;
    border: 2px #4c566a solid;
    background-color: #4c566a;
    padding: 10px 16px;
    border-radius: 16px;
}

.issue > h3 {
    font-size: small;
    margin: 0;
    margin-bottom: 4px;
}

.issue > h2 {
    margin: 0;
}

.issue a {
    color: #8fbcbb;
    text-decoration: none;
}

.issue > span {
    font-size: small;
    background-color: #81a1c1;
    color: #eceff4;
    border-radius: 999px;
    padding: 2px 4px;
}

.issue > span.lang {
    background-color: #bf616a;
}

.modal {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2e34407F;
}

.modal > .inner {
    min-width: 200px;
    max-width: 600px;
    background-color: #2e3440;
    color: #eceff4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px;
    border-radius: 16px;
    border: #81a1c1 2px solid;
}

.modal > .inner > h3 {
    margin: 0;
    margin-bottom: 12px;
}

.modal > .inner > .input-group {
    display: flex;
    align-items: center;
    margin: 16px 0;
}

.input-group > label {
    margin-right: 12px;
}

input[id="auth"] {
    min-width: 350px;
}

input[class="filter"] {
    min-width: 400px;
}

.input-group#filter-list {
    flex-direction: column;
}

.icons {
    display: flex;
    justify-content: center;
}

.icons > i {
    cursor: pointer;
    padding: 0 2px;
    margin: 0 4px;
}
